:javascript
  $('document').ready(function(){
    $('.date_picker').datepicker({
      changeMonth: true,
      changeYear: true
    });
  });

%br  
- semantic_form_for [@project, @task], :live_validations => true do |f|
  = error_messages_for :task
  %span.gray Name: 
  = f.text_field :name, :size => 120
  %br
  %br
  %table
    %tr
      %td
        %span.gray Assigned to:
        = f.collection_select :assign_to, @project.users, :id, :to_s
      %td
        &nbsp;&nbsp; 
        %span.gray Due By:
        = f.text_field :due_date, :class => "date_picker"
      %td
        &nbsp; 
        %span.gray Priority:
        = f.collection_select :priority, Task::PRIORITIES, :id, :display_value
      %td
        &nbsp; 
        = f.submit "Add Task", :style => "width:80px;"