:javascript
  $('document').ready(function(){
    $('.date_picker').datepicker({
      changeMonth: true,
      changeYear: true
    });
  });

#sidebar.left
  = render :partial => "layouts/logo_box"
  = render :partial => "taskproperties"
  = render :partial => "clone"
  
#content.right
  = render :partial => "layouts/header"
  = flash[:errors]
  .right
    .gray
      by 
      = @task.initiator.to_s
      at 
      = to_date(@task.created_at)
  %h2
    = @task.name
  %br
  %br
  #comments
    = render @task.comments
    - if logged_in?
      #new_comment_form
        #comment_errors
        - if !@archieved
          = render :partial => "comments/form", :locals => {:comment => @task.comments.new}