:javascript
  $('document').ready(function(){
    $('.date_picker').datepicker({
      changeMonth: true,
      changeYear: true
    });
  });

%h2
  New task
%br
- semantic_form_for [@project, @task], :live_validations => true do |f|
  = error_messages_for :task
  Name: 
  = f.text_field :name, :size => 130
  %br
  %br
  %table
    %tr
      %td
        Assigned to:
        = f.collection_select :assign_to, @project.users, :id, :to_s
      %td
        &nbsp;&nbsp; Due By:
        = f.text_field :due_date, :class => "date_picker"
      %td
        &nbsp; Priority:
        = f.collection_select :priority, Task::PRIORITIES, :id, :display_value
    %tr
      %td     
        %br
        = f.submit "Create Task"
      %td
      %td