:javascript
  $('document').ready(function(){
    $('.date_picker').datepicker({
      changeMonth: true,
      changeYear: true
    });
  });

%br
- semantic_form_for [@project, @task], :live_validations => true do |f|
  = error_messages_for :task
  %table
    %tr
      %td
        Name:
      %td
        = f.text_field :name, :input_html => {:size => 50}
    %tr
      %td
        %br
        Assigned to: 
      %td
        %br
        = f.collection_select :assign_to, @project.users, :id, :to_s
    %tr
      %td
        %br  
        Due By:
      %td
        %br
        = f.text_field :due_date, :class => "date_picker"
    %tr
      %td
        %br
        Priority:
      %td
        %br
        = f.collection_select :priority, Task::PRIORITIES, :id, :display_value
    %tr
      %td
      %td
        %br
        = f.submit "Create Task"