:javascript
  $('document').ready(function(){
    $('.date_picker').datepicker({
      changeMonth: true,
      changeYear: true
    });
  });

- content_for :sidebar do
  = render 'left'

- semantic_form_for [@project, @task], :live_validations => true do |f|
  = error_messages_for :task
  %table
    %tr
      %td
        Name:
        = f.text_field :name, :size => 100
    %tr
      %td
        %table
          %tr
            %td
              = f.collection_select :assign_to, @project.users, :id, :to_s, :prompt => 'Assigned to'
            %td
              Due By:
              = f.text_field :due_date, :class => "date_picker", :size => '15'
            %td
              Priority:
              = f.collection_select :priority, Task::PRIORITIES, :id, :display_value
    %tr
      %td
        Description:
        = f.text_area :description, :rows => 15, :cols => 92
    %tr
      %td
        = f.submit "Create Task", :class => "but"