- semantic_form_for article, :url => [article.project, article], :html => {:multipart => true , :class => "stack"}, :live_validations => true do |f|
  = error_messages_for :article
  - f.inputs do
    = f.input :title
    = f.input :citation_source
    = f.input :citation_author
    = f.input :citation_date
    = f.input :content, :input_html => {:rows => 12}
    - f.inputs :for => [:assets, article.assets.build] do |af|
      = af.input :data, :as => :file, :label => "Add Attachment", :input_html => {:size => 20}
    = f.input :tag_list
    
  - f.buttons do
    = f.commit_button "Create"
