:javascript
  $(document).ready(function() {
    $('.tags #article_tag_list').autocomplete("#{suggest_project_articles_path(@project)}", {
      extraParams: {field: "tags"},
      multiple: true,
      multipleSeparator: ", "
    })
    
    $('form.edit_article').submitWithAjax();
  })

- content_for :sidebar do
  = render :partial => "left"

%h2.left.bckhighlight
  =h @article
%span
  - if @article.created_by == current_user.id
    = link_to image_tag('delete.png', :title => "Delete article"), [@project, @article], :method => :delete
.clear

%br

.content
  = markdown @article.content
%br

- unless @article.assets.empty?
  %h2 Attachments
  #attachments
    = render :partial => 'attachment', :collection => @article.assets

%h2.gray
  Comments
#comments
  = render @article.comments

- if logged_in?
  #new_comment_form
    = render :partial => "comments/form", :locals => {:comment => @article.comments.new}

