- content_for :sidebar do
  %h1
    Project Members


- pending_invitations = @project.invitations.confirmed_is(false)
- if pending_invitations.present?
  %h3 Pending Invitations
  - pending_invitations.each do |invitation|
    %p
      - if invitation.user
        = link_to invitation.user, invitation.user
      - else
        = invitation.user_email
  %br

- semantic_form_for [@project, @project.invitations.new] do |f|
  - f.inputs do
    = f.input :invitee, :label => "Invite new member", :hint => "Username or email of user who you are inviting"
  - f.buttons do
    = f.commit_button "Send Invitation"

%br
%br  
%table.index
  - @roles.each do |role|
    %tr{:class => cycle("even", "odd")}
      %td.min100
        = image_tag profile_image(role.user.login_email)
      %td.members
        %b
          %i
            = role.user
        %br    
        = role.to_name