- content_for :sidebar do
  %h1
    Project Members
%br
- semantic_form_for [@project, @project.invitations.new] do |f|
  - f.inputs do
    = f.input :invitee, :label => "Invite new member", :hint => "Username or email of user who you are inviting"
  - f.buttons do
    = f.commit_button "Send Invitation"
%br
%br  
%table.index
  - @roles.each do |role|
    %tr{:class => cycle("even", "odd")}
      %td.min100
        = image_tag profile_image(role.user.login_email)
      %td.members
        %b
          %i
            = role.user
        %br    
        = role.to_name
      %td
        - form_for [@project, role] do |f|
          - case role.name
            - when "O" then
              = f.hidden_field :name, :value => "C"
              = f.submit "Change to Collaborator"
            - when "C" then
              = f.hidden_field :name, :value => "O"
              = f.submit "Change to Owner"
      %td
        = link_to "Remove", [@project, role], :method => :delete

- pending_invitations = @project.invitations.confirmed_is(false)
- if pending_invitations.present?
  %table.index
    - pending_invitations.each do |invitation|
      %tr{:class => cycle("even", "odd")}
        %td.min100
          = image_tag profile_image(invitation.user.login_email)
        %td.members
          %b
            %i
              - if invitation.user
                = link_to invitation.user, invitation.user
              - else
                = invitation.user_email
          %br    
          Invited
        %td
          - semantic_form_for [@project, @project.invitations.new], :invitee => invitation.user_email do |f|
            - f.buttons do
              = f.commit_button "Reinvite"
