- if logged_in?
  - content_for :sidebar do
    = render :partial => "projects/my", :locals => {:user => current_user}

= render :partial => "events/upcoming", :locals => {:events => @user.events}

- if logged_in?
  %h3 Incoming Project Invitations
  - @user.project_invitations.confirmed_is(false).each do |invitation|
    = link_to invitation.project, invitation.project
    = link_to "Accept", confirm_project_project_invitation_path(invitation.project, invitation)

= link_to "Create New Project", new_project_path    