:javascript
  $(document).ready(function() {
    
    $('#event_all_day').change(function() {
      $('#event_start_at_input').toggle(!this.checked);
      $('#event_duration_input').toggle(!this.checked);
    })
    
    $('#event_repeat_frequency').change(function() {
      $('#event_repeat_until_date_input').toggle(this.value!='');
    })
    
    $('#event_all_day').change();
    $('#event_repeat_frequency').change();
  })

- semantic_form_for [@calendarable, event], :live_validations => true, :html => {:class => "stack"} do |f|
  = error_messages_for :event
  - f.inputs do
    = f.input :calendar, :collection => @calendarable.calendars
    = f.input :summary, :label => "Subject"
    = f.input :all_day, :label => "All day?"
    = f.input :start_at, :as => :time, :label => "What time?"
    = f.input :duration, :label => "How long?"
    = f.input :location, :label => "Where?"
    = f.input :repeat_frequency, :as => :select, :collection => EventSeries::RECURRING_TYPES, :label => "Repeat every"
    = f.input :repeat_until_date, :as => :date, :label => "Until Date"
    = f.input :invitees
  = f.buttons
