
:javascript
  $(document).ready(function() {
    $('.filter_calendars_form').submitWithAjax();
    $('.colorbox').live('click', function() {
      $.fn.colorbox({href: $(this).attr('href'), width: "60%", height: "40%"});
      return false;
    })
    
    $('#calendar_ids_all, #user_ids_all, #project_ids_all').each(function() {
      var self = this;
      $(this).change(function() {
        $(this).closest('fieldset').find(':checkbox').attr('checked', this.checked);
      })
      $(this).closest('fieldset').find(':checkbox:not(:first)').change(function() {
        if (!this.checked) {
          self.checked = false;
        }
      })
    })
    
    $('.ec-month-nav a').live('click', function() {
      $.getScript($(this).attr('href'));
      return false
    })
    
    $('#new_event').labelsWithinFields()
  })

- content_for :sidebar do
  %h1
    = Time.current.strftime("%b %d")

  - if logged_in?
  
    - if (@calendarable.is_a?(Project) && @calendarable.roles.first(:conditions => {:user_id => current_user.id})) || (@calendarable.is_a?(User) && @calendarable == current_user)
      %h3
        Add an event on
        = Time.current.strftime("%b %d")
      = render :partial => "events/add_form", :locals => {:event => @calendarable.calendar.events.build(:start_at => Time.current)}
    
    %h2 Filter by calendars
    - form_tag [@calendarable, :events], :method =>:get, :class => "filter_calendars_form" do
      %fieldset
        %p
          %label
            = check_box_tag :calendar_ids_all, 1, true
            All
        - @calendarable.calendars.each do |calendar|
          %p
            %label
              = check_box_tag "calendar_ids[]", calendar.id, (!params[:calendar_ids] || params[:calendar_ids].include?(calendar.id.to_s))
              = calendar.name
            - unless calendar.name == 'default'
              = link_to "Remove", [calendar.calendarable, calendar], :method => :delete
        = hidden_field_tag "calendar_ids[]"
      %br
      %p
        = submit_tag "Apply Filter"
    %br
    - form_tag [@calendarable, :events], :method =>:get, :class => "filter_calendars_form" do
      - if @calendarable.is_a?(Project)
        %h2 Events for project members
        %fieldset
          %p
            %label
              = check_box_tag :user_ids_all, 1, true
              All
          - @calendarable.roles.each do |role|
            %p
              %label
                = check_box_tag "user_ids[]", role.user_id, true
                = image_tag role.user.ucontact.country.get_flag
                (#{Time.current.in_time_zone(role.user.ucontact.time_zone).to_s(:time)})
                = role.user
          = hidden_field_tag "user_ids[]"
      
      - if @calendarable.is_a?(User)
        %h2 Filter by projects
        %fieldset
          %p
            %label
              = check_box_tag :project_ids_all, 1, true
              All
          - @calendarable.roles.each do |role|
            %p
              %label
                = check_box_tag "project_ids[]", role.project_id, true
                = role.project
          = hidden_field_tag "project_ids[]"
      %br
      %p
        = submit_tag "Apply Filter"
    %br
    %h1 Add New Calendar
    - form_tag [@calendarable, :calendars], :multipart => true do
      = file_field_tag :ical_file
      = submit_tag "Upload"
    
    

- ical_url = polymorphic_path([@calendarable, :events], :format => :ical)
%p
  = link_to "Get calendar in Ical format", ical_url

#calendar
  = event_calendar
