:javascript
  $(document).ready(function() {
    $('.edit_event_link').colorbox({width: '50%', initialHeight: '50%'})
  })
  
- content_for :sidebar do
  %h1
    Event Details
  .gray
    - if @event.all_day?
      All Day Event on
      %br
      = @event.start_at.strftime("%D").to_s()
    - else  
      From: 
      = @event.start_at
      %br
      To: 
      = @event.end_at

.gray
  Subject: 
.right
  %span.gray
    by 
    = @event.creator
    updated
    = time_ago_in_words(@event.updated_at)
    ago
%h2
  = @event

%br
= link_to @calendarable, [@calendarable, :events]

- if @event.recurring?
  %p
    Repeat every
    = @event.repeat_frequency

- if !@archieved
  = link_to "Edit Event", [:edit, @calendarable, @event], :class => :edit_event_link
  |
  = link_to "Delete Event", [@calendarable, @event], :method => :delete
  - if @event.recurring?
    |
    = link_to "Delete All Events", {:remove_series => true}, :method => :delete
  
%h2.gray
  Comments
#comments
  = render @event.comments

- if logged_in?
  #new_comment_form
    - if !@archieved
      %h2 Add new Comment
      = render :partial => "comments/form", :locals => {:comment => @event.comments.new}