
%h1
  = @event
  
Event from
= link_to @calendarable, [@calendarable, :events]

- if @event.all_day?
  %p
    All Day Event on
    = @event.start_at
- else
  %p
    Start at:
    = @event.start_at
  %p
    End at:
    = @event.end_at

- if @event.recurring?
  %p
    Repeat every
    = @event.repeat_frequency

= link_to "Edit Event", [:edit, @calendarable, @event], :class => :colorbox
|
= link_to "Delete Event", [@calendarable, @event], :method => :delete
- if @event.recurring?
  |
  = link_to "Delete All Events", {:remove_series => true}, :method => :delete
  
%h2
  Comments
#comments
  = render @event.comments

- if logged_in?
  #new_comment_form
    %h2 Add new Comment
    = render :partial => "comments/form", :locals => {:comment => @event.comments.new}
