- content_for :sidebar do
  = render 'versions'

%h2.left.bckhighlight
  = @wiki_page
  &nbsp;
  %span.bottom
    %small_text
      - unless @wiki_page.deleted_at?
        - if !@archieved
          = link_to "Edit Page", edit_polymorphic_path([@wiki_page.project, @wiki_page])
.clear
%span.gray.right
  Changes From Revision #{@changes_from} to #{@changes_to}
.clear

%br
%br

= diff(h(@content_from), h(@content_to)).gsub(/\n/, "<br/>")