- content_for :sidebar do
  - if !@archieved
    %h1 Coedit a new document
    = render :partial => "shared/learnmore"  
    - semantic_form_for [@project, @project.wiki_pages.new] do |f|
      - f.inputs do
        =f .input :title, :class=>'gray'
      - f.buttons do
        = f.commit_button "Create"

%table.index
  %tr.header
    %th
      =sort_link 'Title', :title
    %th
      Updated by
    %th
      Update
    %th
    %th
    %th    
  - @wiki_pages.each do |wiki_page|
    %tr{:class => cycle("even", "odd")}
      %td.min500
        - if wiki_page.deleted_at?
          %del
            = link_to truncate(wiki_page.title, 55, "..."), [@project, wiki_page]
            = "(" + wiki_page.version.to_s() + ")"
        - else
          = link_to truncate(wiki_page.title, 55, "..."), [@project, wiki_page]
          = "(" + wiki_page.version.to_s() + ")"
      %td.gray
        - if wiki_page.version > 1
          = h truncate(wiki_page.versions.last.user.to_s(), 20, "...")
        - else
          = h truncate(wiki_page.creator.to_s(), 20, "...")
      %td.gray
        - if wiki_page.version > 1
          = smart_date(wiki_page.versions.last.created_at)
      - unless wiki_page.deleted_at?
        %td
          - if !@archieved
            = link_to image_tag('edit.png'), [:edit, @project, wiki_page]
        %td
          = link_to "Compare", [:diff, @project, wiki_page] if wiki_page.version > 1
        %td
          - if !@archieved
            = link_to image_tag('delete.png'), [@project, wiki_page], :method => :delete
      - else
        %td
          - if !@archieved
            = link_to "Reopen", [:restore, @project, wiki_page]
