- semantic_form_for @project do |f|
  - f.inputs do
    = f.input :name
    = f.input :status, :as => :select, :collection => Project::STATUSES, :prompt => false
    = f.input :description
    = f.input :use_ssl, :label => "Enable SSL security"
  - f.buttons do
    = f.commit_button "Update Project"
