= semantic_form_for @project do |f|
  = error_messages_for :project
  = f.inputs do
    Project Name*
    = f.input :name, :label => false
    Description*
    = f.text_area :description, :rows => '7'
    %br
    %br
    Use SSL 
    = f.check_box :use_ssl
  = f.buttons do
    = f.commit_button "Create Project"