= content_for :sidebar do
  %h1
    All my projects
  %br
  = link_to "Start new project", new_project_path

- if @projects.empty?
  %b
    No Projects Found !
- else
  - @projects.each do |project|
    #projectbox
      #gray
        %b
          = link_to project.name, project_path(project)
        (
        - if !project.is_archieved?
          %span{ :style => "color :#06A600"}
            Active
        - else
          %span{ :style => "color :#FA0724"}
            Archieved
        )  
        %small_text.gray
          updated
          = time_ago_in_words(project.updated_at)
          ago
      %small_text
        Project Leader: 
        = project.owner
      %br
      .gray
        = project.description
    %br
    %br
  = will_paginate @projects
