%h2
  Start a new project

- semantic_form_for @project do |f|
  = error_messages_for :project
  - f.inputs do
    = f.input :name
    = f.input :description
    = f.input :use_ssl
  - f.buttons do
    = f.commit_button "Create Project"