- content_for :sidebar do
  .right
    = link_to 'Edit', edit_project_path(@project)
  %h1
    Project Details
  .gray
    = @project.status_val
    Project  
    %br  
    %br  
    = @project.description

= render :partial => "events/upcoming", :locals => {:events => @project.events}
%br
.gray
  Top 10 Alerts
%br
= render :partial => "alerts/list"
%br
.gray
  My top 10 tasks
= render :partial => "tasks/my"
%br 