- content_for :sidebar do
  .right
    = link_to 'Edit', edit_project_path(@project)
  %h1
    Project Details
  = render :partial => 'description'  
  .gray
    = @project.status_val  
    Project  
    %br
    = link_to(@project.roles.size.to_s() + " Members", [@project, :project_roles])
    %br  

= render :partial => "events/upcoming", :locals => {:events => @project.events}
%br
.gray
  Top 10 Alerts
%br
= render :partial => "alerts/list"