-trunc_hash = { :limit => 55, :omission => "..." }

%table.index
  - @alerts.each do |a|
    %tr
      %td.min50
        = a.color_alertabletype
      %td.min400
        - if a.is_deleted?
          %del
            = truncate a.alertable_s, trunc_hash
        - else
          - if a.alertable_type != "Asset"
            = link_to truncate(a.alertable_s, trunc_hash), [@project, a.alertable]
          - elsif a.alertable_type == "Asset"  
            - if a.alertable.image?
              = image_tag(a.alertable.url, :size => "17x19")
            - else
              = image_tag(a.alertable.file_icon, :size => "17x19")
            = link_to truncate(a.alertable_s, trunc_hash), [@project, a.alertable]
      %td.none
        = smart_due_date_s(a.due_date) 
      %td.right
        %span.lightgray
          - if !a.is_deleted?
            = a.alert_type
      %td
        = truncate a.creator.to_s, :limit => 15, :omission => "..."
      %td
        %span.lightgray
          = smart_date(a.updated_at)