%table.index
  - Alert.forproject(@project.id, @count).each do |a|
    - b = Alert.find_by_id(a.id)
    %tr
      %td.min50
        = b.color_alertabletype
      %td.min400
        - if b.is_deleted?
          %del
            = truncate(b.alertable_s, 55, "...")
        - else
          - if b.alertable_type == "Article"
            = link_to(truncate(b.alertable_s,55,"..."), [@project, b.alertable])
          - elsif b.alertable_type == "Task"
            = link_to(truncate(b.alertable_s,55,"..."), edit_project_task_path(@project, b.alertable))
          - elsif b.alertable_type == "Asset"  
            - if b.alertable.image?
              = image_tag(b.alertable.url, :size => "17x19")
            - else
              = image_tag(b.alertable.file_icon, :size => "17x19")
            = link_to(truncate(b.alertable_s,55,"..."), project_asset_path(@project, b.alertable), :popup => :true)
          - elsif b.alertable_type == "WikiPage"
            = link_to(truncate(b.alertable_s,55,"..."), [@project, b.alertable])
      %td.none
        = smart_due_date_s(b.due_date) 
      %td.right
        %span.lightgray
          - if !b.is_deleted?
            = b.alert_type
      %td
        = truncate(b.creator.to_s(), 15, "...")
      %td
        %span.lightgray
          = smart_date(b.updated_at)