%table.index
  - @alerts.each do |a|
    %tr
      %td.min50
        = a.color_alertabletype
      %td.min400
        - if a.is_deleted?
          %del
            = truncate a.alertable_s, :limit => 80, :omission => "..."
        - else
          - if a.alertable_type == 'Asset'
            = image_tag a.alertable.small_file_icon
          = link_to truncate(a.alertable_s, :limit => 80, :omission => "..."), [@project, a.alertable]
      %td.none
        = smart_due_date_s(a.due_date) 
      %td.right
        %span.lightgray
          - if !a.is_deleted?
            = a.alert_type
      %td
        = truncate a.creator.to_s, :limit => 15, :omission => "..."
      %td
        %span.lightgray
          = time_ago_in_words(a.updated_at)
.clear