- content_for :sidebar do
  %h1 Receive alerts via
  - if !@archieved
    - semantic_form_for [@project, @notification] do |f|
      .gray
        = f.check_box :is_email
        = f.label :is_email, "Email"
        %br
        = f.check_box :is_sms
        = f.label :is_sms, "SMS"
      = f.submit " Update ", :style=>"width:80px;"
  %br
  %h1 Filter Alerts
  = render :partial => "shared/learnmore"
  - form_tag project_alerts_path, :method => :get do
    = filter_html("alerts_index")
= render :partial => "alerts/list"
%br
