.timesheet{:class => cycle("even", "odd")}
  .timesheet-description
    = in_place_editor_for [@project, timesheet], :description
  .right
    .timesheet-hours
      = timesheet.timelogs.sum(:hours)
      - if timesheet.timelogs.count > 1
        = link_to "(+)", "#", :class => "timesheet_expand_logs"
    .timesheet-date
      = timesheet.timelogs.maximum(:date)
    .timesheet-actions
      = link_to image_tag("delete.png"), [@project, timesheet], :class => :delete
    .clear
  .clear
  .timelogs.hide
    - timesheet.timelogs.each do |timelog|
      .timelog
        .timelog-hours
          = timelog.hours
        .timelog-date
          = timelog.date
        .timelog-actions
          = link_to image_tag("delete.png"), [@project, timelog], :class => :delete
        .clear
      .clear