#flash_messages
  - flash.each do |name, msg|
    = content_tag :div, msg, :class => "flash #{name}" if msg.is_a?(String)
        
- if @project && !@project.new_record?
  %h1
    Project 
    = @project
  %br
  .menu
    - [["Project Dashboard", "projects", nil], ["Calendar", "events", :events], ["CoEdit", "wiki_pages", :wiki_pages], ["Research Feeds", "articles", :articles], ["Tasks", "tasks", :tasks], ["Files", "assets", :assets], ["Timesheets", "timesheets", :timesheets], ["Alerts", "alerts", :alerts]].each do |link_name, link_controller, link_path|
      = link_to link_name, [@project, link_path], :class => (controller_name == link_controller) ? "current" : nil

- elsif @user && !@user.new_record? 
  .menu
    - [["Homepage", "users", nil], ["Calendar", "events", :events]].each do |link_name, link_controller, link_path|
      = link_to link_name, [User.find(@user.id), link_path], :class => (controller_name == link_controller) ? "current" : nil
%br